[submodule "gfs"]
	path = gfs
	url = git@github.com:dabbertorres/gfs.git
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
